<h3>Welcome to Show</h3>
<p><%= @workout.date%></p>
<p><%= @workout.workout%></p>
<p><%= @workout.mood%></p>
<p><%=@workout.length%></p>
<%= link_to 'edit', edit_workout_path(@workout)%>|<%=link_to 'back', root_path %>|<%=link_to 'delete', workout_path(@workout), method: :delete %>

