<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="weee">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <%= link_to 'Workout', root_path, class: "navbar-brand" %>
          </div>
          <div class="nav navbar-nav navbar-right">
            <%= link_to ' new Workout', new_workout_path, class: "navbar navbar-link"%>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

<!-- nav navbar-nav navbar-right -->